.search-bar .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    top: 16px;
    left: 32px;
    font-size: 14px;
    text-align: center;
    pointer-events: none;
    color: #11efff;
  }

  .search-input {
    font-family: 'lato', -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #000000;
    border: none;
  }
  
  .search-input::placeholder {
    color: rgba(133, 224, 255, 0.7);
  }
  
  .search-input {
    border-radius: 7px;
  }
  
  .search-input:focus  {
    background-color: #003834;
    color: #ffffff;
    
    
  }

  .margin {
    margin-bottom: 20px;
  }
  
  .form-control {
    padding: 22px 0 22px 2.5rem;
  }