.search-bar {
  position: relative;
  width: 503px;
  left: 36px;
}

.employee-card {
    background: #27e6df;
    border-radius: 6px;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    width: 240px;
  }
  
  .card-text{
    text-align: center;
    padding: 50px 10px 20px;
  }
  
  hr {
    border-top: 3px solid rgba(0,0,0,.1);
  }
  
  
  .employee-contact {
    padding: 15px 0 20px;
  }
  
  li {
    color: #000000;
    list-style: none;
    margin-bottom: 15px;
  }
  
  a {
    padding-left: 10px;
    color: #000000;
  }
  